.button {
  border: none;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  cursor: pointer;
}

.button__red {
  border: none;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;

  background: #ff5b56;
  cursor: pointer;
}
