.container {
  z-index: 100;
  background-color: var(--black);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: absolute;
  width: 100%;
  bottom: 0;

  @media (min-width: 320px) {
    height: 150px;
  }
}

/* ICONS  */
.codeit {
  color: #676767;
  font-size: 2rem;
  font-weight: bold;
  grid-column: 2 / span 3;
  grid-row: 6 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 2rem;
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  grid-column: 9 / span 3;
  grid-row: 2 / span 2;
}

@media (min-width: 1200px) {
  .codeit {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
  }
  .policy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 6 / span 2;
    grid-row: 3 / span 2;
  }
  .icons {
    display: flex;
    grid-column: 10 / span 1;
    grid-row: 3 / span 2;
    justify-content: space-around;
    align-items: center;
  }
}
