.button {
  border: none;
  color: var(--Grey-Light, #f5f5f5);
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  padding-top: 1rem;
}

.links__wrapper {
  display: flex;
  column-gap: 0.7rem;
}

.folder_link_name {
  color: var(--Linkbrary-primary-color, #6d6afe);
}
.links {
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}
.links:hover {
  background-color: var(--background);
}

.links span:first-child {
  font-weight: 900;
}
